@import '@/styles/mixins.scss';
.admin{
    min-height: calc(100vh - 36vw);
    display: flex;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    min-height: 600px;
    @include res('gap', 40px);
    width: 100%;
}
.content{
    @include res('padding-top', 40px);
    @include res('padding-bottom', 40px);
    @include res('padding-right', 40px);
    flex: 1 1 auto;
}
.title{
    @include res('font-size', 36px);
    @include res('margin-bottom', 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include res('gap', 40px);
    a{
        @include res('font-size', 16px);
        text-decoration: none;
        background: var(--primary-text-color);
        color: #fff;
        @include res('padding-top', 14px);
        @include res('padding-bottom', 14px);
        @include res('padding-left', 24px);
        @include res('padding-right', 24px);
        @include res('border-radius', 10px);
        font-weight: 400;
    }
}
.form{
    display: flex;
    flex-direction: column;
    @include res('gap', 10px);
}
.subtitle{
    @include res('font-size', 16px);
}
.p{
    @include res('font-size', 16px);
}
.input{
    @include res('border-radius', 10px);
    @include res('height', 50px);
    border: solid #ddd;
    @include res('border-width', 1px);
    @include res('padding-left', 20px);
    @include res('font-size', 14px);
}
.textarea{
    @include res('border-radius', 10px);
    @include res('height', 50px);
    border: solid #ddd;
    @include res('border-width', 1px);
    @include res('padding-left', 20px);
    @include res('padding-top', 20px);
    @include res('font-size', 14px);
    @include res('min-height', 100px);
    resize: vertical;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include res('gap', 10px);
    &.border{
        border-left: solid var(--primary-text-color);
        border-right: solid var(--primary-text-color);
        @include res('border-width', 1px);
        @include res('padding', 10px);
        &:not(:last-of-type){
            border-bottom: solid var(--primary-text-color);
            @include res('border-width', 1px);
            margin-bottom: 0;
        }
        &:first-of-type{
            border-top: solid var(--primary-text-color);
            @include res('border-width', 1px);
        }
        &:last-of-type{
            border-bottom: solid var(--primary-text-color);
            @include res('border-width', 1px);
        }

    }
    &:not(:last-of-type){
        @include res('margin-bottom', 10px);
        &.border{
            border-bottom: solid var(--primary-text-color);
            @include res('border-width', 1px);
        }
    }
    &:first-of-type{
        @include res('border-top-left-radius', 10px);
        @include res('border-top-right-radius', 10px);
    }
    &:last-of-type{
        // border-bottom: solid var(--primary-border);
        @include res('border-width', 1px);
        @include res('border-bottom-right-radius', 10px);
        @include res('border-bottom-left-radius', 10px);
    }
    .input{
        width: 50%;
    }
    &Buttons{
        display: flex;
        justify-content: flex-end;
        @include res('gap', 8px);
    }
    &Price{
        @include res('width', 200px);
    }
    &Left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 10px);
        @include res('width', 500px);
        img{
            overflow: hidden;
            line-height: 0;
            object-fit: cover;
            @include res('width', 50px);
            @include res('height', 50px);
            @include res('border-radius', 10px);
        }
    }
}
.col{
    width: 50%;
    display: flex;
    flex-direction: column;
    @include res("gap", 5px);
    &>*{
        width: 100% !important;
    }
}
.btn{
    @include res('width', 50px);
    @include res('min-width', 50px);
    @include res('height', 50px);
    background: var(--primary-text-color);
    @include res('border-radius', 10px);
    color: #fff;
    font-weight: 500;
    @include res('font-size', 16px);
    svg{
        @include res('width', 20px);
        @include res('height', 20px);
        line-height: 0;
    }
}
.button{
    @include res('font-size', 14px);
    text-decoration: none;
    background: var(--primary-text-color);
    color: #fff;
    @include res('padding-top', 10px);
    @include res('padding-bottom', 10px);
    @include res('padding-left', 15px);
    @include res('padding-right', 15px);
    @include res('border-radius', 10px);
    font-weight: 400;
    svg{
        @include res('width', 20px);
        @include res('height', 20px);
        line-height: 0;
    }
}
.icon{
    @include res('padding', 12px);
    line-height: 0;
}
.submit{
    background: var(--primary-text-color);
    color: #fff;
    @include res('border-radius', 10px);
    @include res('height', 50px);
    @include res('font-size', 14px);
    @include res('margin-top', 20px);
}
.chkrow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include res('gap', 8px);
    label{
        user-select: none;
        cursor: pointer;
    }
    .chk{
        cursor: pointer;
    }
}
.images{
    display: block; 
    &Content{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 20px;
        @include media(992){
            gap: 10px;
        }
    }
}
.image{
    @include res('width', 161px);
    @include res('height', 161px);
    // box-shadow: 0 0 15px -9px #8f8f8f;
    background: #fff;
    @include res('border-radius', 12px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: solid #ddd;
    @include res('border-width', 1px);
    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    &Overlay{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        svg{
            @include res('width', 40px);
            @include res('height', 40px);
            @include res('margin-bottom', 10px);
        }
        p{
            @include res('font-size', 14px);
            color: #8f8f8f;
        }
    }
    &Container{
        width: 100%;
        height: 100%;
        z-index: 4;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &Delete{
        position: absolute;
        top:0;
        left:0;
        @include res('width', 40px);
        @include res('height', 40px);
        background: #00000080;
        border-radius: 0 0 12px 0;
    }
}
.btn{
    @include res("padding", 12px);
    @include res('height', 50px);
    background: var(--primary-text-color);
    @include res('border-radius', 10px);
    color: #fff;
    font-weight: 500;
    @include res('font-size', 16px);
    svg{
        @include res('width', 20px);
        @include res('height', 20px);
        line-height: 0;
    }
}