@import '@/styles/mixins.scss';
.admin{
    @include res('min-height', 600px);
    display: flex;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    @include res('gap', 40px);
}
.content{
    @include res('padding-top', 40px);
}
.title{
    @include res('font-size', 36px);
}