$xxl: 1400;
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

$sizes: (1320:$xxl,
    1140:$xl,
    960:$lg,
    720:$md,
    540:$sm,
    0:0
);

@mixin media($size) {
    @media (max-width:#{$size}px) {
        @content;
    }
}

$baseValueLarge: 1440px;
$baseValueMedium: 768px;
$baseValueSmall: 360px;

@mixin resl($property, $value) {
    #{$property}: calc(($value / $baseValueLarge) * 100vw);
}
@mixin resm($property, $value) {
    #{$property}: calc(($value / $baseValueMedium) * 100vw);
}
@mixin ress($property, $value) {
    #{$property}: calc(($value / $baseValueSmall) * 100vw);
}