@import './mixins.scss';
.body{
    @include res('padding-left', 30px);
    @include res('padding-right', 30px);
    @include res('padding-top', 40px);
    @include res('padding-bottom', 40px);
    @include media(576){
        @include resa('padding-left', 15px);
        @include resa('padding-right', 15px);
        @include resa('padding-top', 20px);
        @include resa('padding-bottom', 20px);
    }
}
.title{
    color: var(--primary-text-color);
    @include res('font-size', 46px);
    @include res('letter-spacing', 3.24px);
    font-weight: 400;
    line-height: 120%;
    @include res('margin-bottom', 40px);
    @include media(576){
        @include resa('font-size', 24px);
        @include resa('letter-spacing', 1px);
        @include resa('margin-bottom', 20px);
    }
}
.content{
    display: flex;
    justify-content: space-between;
    @include res('gap', 40px);
    @include media(576){
        flex-direction: column;
        @include resa('gap', 20px);
    }
}
.swiper{
    @include res('width', 1081.8px);
    @include res('height', 845.44px);
    display: flex;
    justify-content: space-between;
    @include media(576){
        width: 100%;
        flex-direction: column;
        @include resa('width', 330px);
        height: auto;
        @include resa('gap', 16px);
    }
    &>div{
        margin-left: 0 !important;
        margin-right: 0 !important;
        position: relative;
        &:nth-of-type(1){
            @include res('width', 845.44px);
            @include media(576){
                width: 100%;
                @include resa('height', 330px);
            }
            &>div>div{
                line-height: 0;
                img{
                    line-height: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &:nth-of-type(2){
            @include res('width', 216.36px);
            position: relative;
            @include media(576){
                width: 100%;
            }
            &::before{
                content: '';
                position: absolute;
                top: -2px;
                left: 0;
                width: 100%;
                @include res('height', 50px);
                background: linear-gradient(180deg, #F9F8F4 0%, rgba(249, 248, 244, 0.00) 100%);
                z-index: 10;
                pointer-events: none;
                @include media(576){
                    display: none;
                }
            }
            &::after{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                @include res('height', 50px);
                background: linear-gradient(0deg, #F9F8F4 0%, rgba(249, 248, 244, 0.00) 100%);
                z-index: 10;
                pointer-events: none;
                @include media(576){
                    display: none;
                }
            }
            &>div{
                &>div{
                    line-height: 0;
                    @include res('width', 216.36px);
                    @include res('height', 216.36px);
                    cursor: pointer;
                    @include media(576){
                        @include resa('width', 100px);
                        @include resa('height', 100px);
                    }
                    &:not(:last-of-type){
                        @include res('margin-bottom', 20px);
                        @include media(576){
                            margin-bottom: 0;
                            @include resa('margin-right', 15px);
                        }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.info{
    @include res('width', 721.2px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.subtitle{
    @include res('font-size', 24px);
    line-height: 140%;
    @include res('margin-bottom', 20px);
}
.price{
    @include res('font-size', 48px);
    line-height: 140%;
    @include res('margin-bottom', 20px);
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include res('gap', 10px);
    &+.row{
        @include res('margin-top', 10px);
    }
    b{
        font-weight: 500;
        @include res('font-size', 18px);
    }
    span{
        @include res('font-size', 18px);
    }
    div{
        flex: 1 1 auto;
        border-bottom: dashed #ddd;
        height: 70%;
        @include res('border-width', 1px);
    }
}
.qua{
    @include res('font-size', 28px);
    color: var(--primary-color);
    @include res('margin-top', 20px);
    @include res('margin-bottom', 20px);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    @include res('border-radius', 100px);
    width: 100%;
    @include res('height', 60px);
    border: solid var(--primary-border);
    @include res('border-width', 1px);
    color: var(--primary-text-color);
    @include res('font-size', 18px);
    @include res('margin-top', 30px);
}
.button2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-text-color);
    @include res('border-radius', 100px);
    width: 100%;
    @include res('height', 60px);
    border: solid var(--primary-text-color);
    @include res('border-width', 1px);
    color: #fff;
    @include res('font-size', 18px);
}