@import '@/styles/mixins.scss';
.sidebar{
    display: flex;
    flex-direction: column;
    @include res('width', 300px);
    border-right: solid var(--primary-border);
    @include res('border-width', 1px);
}
.link{
    @include res('padding-left', 30px);
    @include res('padding-right', 30px);
    @include res('padding-top', 10px);
    @include res('padding-bottom', 10px);
    @include res('font-size', 18px);
    text-align: left;
    text-decoration: none;
    border-bottom: solid var(--primary-border);
    @include res('border-width', 1px);
    &.active{
        background: var(--primary-text-color);
        color: var(--primary-bg-color);
        border-bottom: solid var(--primary-text-color);
    }
}