@import '@/styles/mixins.scss';
.header{
    background: var(--primary-bg-color);
    z-index: 500;
}
.top{
    @include res('height', 70px);
    @include res('padding-right', 30px);
    @include res('padding-left', 30px);
    display: flex;
    align-items: center;
    border-bottom: solid var(--primary-border);
    @include res('border-width', 1px);
    &Body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }
}
.logo{
    @include res('width', 234px);
    @include res('height', 26px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 100%;
        height: 100%;
    }
}
.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include res('gap', 30px);
}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include res('gap', 30px);
}
.link{
    @include res('font-size', 15px);
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include res('gap', 8px);
    svg{
        @include res('width', 24px);
        @include res('height', 24px);
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        @include res('width', 30px);
        @include res('height', 30px);
        border-radius: 50%;
        @include res('font-size', 15px);
        border: solid var(--primary-border);
        @include res('border-width', 1px);
    }
}
.button{
    @include res('width', 50px);
    @include res('height', 14px);
    position: relative;
    z-index: 2;
    &.open {
        .buttonLine{
            opacity: 0;
            visibility: hidden;
        }
        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(135deg);
        }
        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-135deg);
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include res('height', 2px);
        background: var(--primary-text-color);
        transition: 300ms ease-out;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include res('height', 2px);
        background: var(--primary-text-color);
        transition: 300ms ease-out;
    }
    &Line{
        position: absolute;
        display: block;
        @include res('top', 6px);
        left: 0;
        background: var(--primary-text-color);
        width: 100%;
        @include res('height', 2px);
        transition: 300ms ease-out;
    }
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-out;
    &.open{
        opacity: 1;
        visibility: visible;
    }
}
.bot{
    @include res('height', 50px);
    @include res('gap', 10px);
    border-bottom: solid var(--primary-border);
    @include res('border-width', 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    &Link{
        @include res('border-radius', 50px);
        border: solid var(--primary-border);
        @include res('border-width', 1px);
        @include res('padding-top', 8px);
        @include res('padding-bottom', 8px);
        @include res('padding-left', 16px);
        @include res('padding-right', 16px);
        font-weight: 500;
        text-decoration: none;
        @include res('font-size', 14px);
        line-height: 120%;
        @include res('letter-spacing', 0.84px);
        transition: background 0s .5s linear, color 0s .5s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active{
            background: var(--primary-text-color);
            color: #fff;
        }
    }
}